-- Phase 9: Excel bulk import metadata + content enrichment scaffolding

DO $$
BEGIN
  CREATE TYPE product_content_status AS ENUM ('pending', 'complete');
EXCEPTION
  WHEN duplicate_object THEN NULL;
END
$$;

CREATE TABLE IF NOT EXISTS public.product_import_batches (
  id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  filename TEXT NOT NULL,
  row_count INT NOT NULL DEFAULT 0 CHECK (row_count >= 0),
  imported_count INT NOT NULL DEFAULT 0 CHECK (imported_count >= 0),
  failed_count INT NOT NULL DEFAULT 0 CHECK (failed_count >= 0),
  status TEXT NOT NULL DEFAULT 'processing',
  imported_at TIMESTAMPTZ,
  created_at TIMESTAMPTZ NOT NULL DEFAULT NOW()
);

DO $$
BEGIN
  IF NOT EXISTS (
    SELECT 1
    FROM pg_constraint
    WHERE conname = 'product_import_batches_status_check'
  ) THEN
    ALTER TABLE public.product_import_batches
      ADD CONSTRAINT product_import_batches_status_check
      CHECK (status IN ('processing', 'success', 'partial', 'failed'));
  END IF;
END
$$;

ALTER TABLE public.products
  ADD COLUMN IF NOT EXISTS import_batch_id UUID REFERENCES public.product_import_batches(id) ON DELETE SET NULL,
  ADD COLUMN IF NOT EXISTS external_sku TEXT,
  ADD COLUMN IF NOT EXISTS source_row JSONB,
  ADD COLUMN IF NOT EXISTS image_url TEXT,
  ADD COLUMN IF NOT EXISTS content_status product_content_status NOT NULL DEFAULT 'pending',
  ADD COLUMN IF NOT EXISTS needs_image BOOLEAN NOT NULL DEFAULT FALSE,
  ADD COLUMN IF NOT EXISTS needs_description BOOLEAN NOT NULL DEFAULT FALSE;

CREATE INDEX IF NOT EXISTS idx_products_import_batch_id
  ON public.products(import_batch_id);

CREATE INDEX IF NOT EXISTS idx_products_external_sku
  ON public.products(external_sku);

CREATE INDEX IF NOT EXISTS idx_products_content_status
  ON public.products(content_status);

CREATE TABLE IF NOT EXISTS public.product_content_jobs (
  id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  product_id UUID NOT NULL REFERENCES public.products(id) ON DELETE CASCADE,
  import_batch_id UUID REFERENCES public.product_import_batches(id) ON DELETE SET NULL,
  job_type TEXT NOT NULL CHECK (job_type IN ('image', 'description')),
  status TEXT NOT NULL DEFAULT 'pending' CHECK (status IN ('pending', 'processing', 'done', 'failed')),
  payload JSONB,
  result JSONB,
  error_message TEXT,
  created_at TIMESTAMPTZ NOT NULL DEFAULT NOW(),
  updated_at TIMESTAMPTZ NOT NULL DEFAULT NOW()
);

CREATE INDEX IF NOT EXISTS idx_product_content_jobs_product_id
  ON public.product_content_jobs(product_id);

CREATE INDEX IF NOT EXISTS idx_product_content_jobs_status
  ON public.product_content_jobs(status);

ALTER TABLE public.product_import_batches ENABLE ROW LEVEL SECURITY;
ALTER TABLE public.product_content_jobs ENABLE ROW LEVEL SECURITY;

DO $$
BEGIN
  CREATE POLICY "product_import_batches_admin_read" ON public.product_import_batches
    FOR SELECT USING (public.is_admin());
EXCEPTION
  WHEN duplicate_object THEN NULL;
END
$$;

DO $$
BEGIN
  CREATE POLICY "product_import_batches_admin_write" ON public.product_import_batches
    FOR ALL
    USING (public.is_admin())
    WITH CHECK (public.is_admin());
EXCEPTION
  WHEN duplicate_object THEN NULL;
END
$$;

DO $$
BEGIN
  CREATE POLICY "product_content_jobs_admin_read" ON public.product_content_jobs
    FOR SELECT USING (public.is_admin());
EXCEPTION
  WHEN duplicate_object THEN NULL;
END
$$;

DO $$
BEGIN
  CREATE POLICY "product_content_jobs_admin_write" ON public.product_content_jobs
    FOR ALL
    USING (public.is_admin())
    WITH CHECK (public.is_admin());
EXCEPTION
  WHEN duplicate_object THEN NULL;
END
$$;
