-- Batch product image fill run history (100 products per admin click)

CREATE TABLE IF NOT EXISTS public.product_image_fill_runs (
  id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  batch_number INT NOT NULL CHECK (batch_number >= 1),
  limit_count INT NOT NULL CHECK (limit_count >= 1),
  processed_count INT NOT NULL DEFAULT 0 CHECK (processed_count >= 0),
  from_source_row INT NOT NULL DEFAULT 0 CHECK (from_source_row >= 0),
  from_category_image INT NOT NULL DEFAULT 0 CHECK (from_category_image >= 0),
  from_placeholder INT NOT NULL DEFAULT 0 CHECK (from_placeholder >= 0),
  remaining_count INT NOT NULL DEFAULT 0 CHECK (remaining_count >= 0),
  status TEXT NOT NULL DEFAULT 'success',
  created_at TIMESTAMPTZ NOT NULL DEFAULT NOW()
);

DO $$
BEGIN
  IF NOT EXISTS (
    SELECT 1 FROM pg_constraint WHERE conname = 'product_image_fill_runs_status_check'
  ) THEN
    ALTER TABLE public.product_image_fill_runs
      ADD CONSTRAINT product_image_fill_runs_status_check
      CHECK (status IN ('success', 'partial', 'failed'));
  END IF;
END
$$;

CREATE INDEX IF NOT EXISTS idx_product_image_fill_runs_batch_number
  ON public.product_image_fill_runs(batch_number DESC);

CREATE INDEX IF NOT EXISTS idx_products_missing_image_url
  ON public.products(sku)
  WHERE image_url IS NULL OR image_url = '';

ALTER TABLE public.product_image_fill_runs ENABLE ROW LEVEL SECURITY;

DO $$
BEGIN
  CREATE POLICY "product_image_fill_runs_admin_read" ON public.product_image_fill_runs
    FOR SELECT USING (public.is_admin());
EXCEPTION
  WHEN duplicate_object THEN NULL;
END
$$;

DO $$
BEGIN
  CREATE POLICY "product_image_fill_runs_admin_write" ON public.product_image_fill_runs
    FOR ALL
    USING (public.is_admin())
    WITH CHECK (public.is_admin());
EXCEPTION
  WHEN duplicate_object THEN NULL;
END
$$;
