-- Public Supabase Storage bucket for admin-uploaded product images

INSERT INTO storage.buckets (id, name, public, file_size_limit, allowed_mime_types)
VALUES (
  'product-images',
  'product-images',
  true,
  5242880,
  ARRAY['image/jpeg', 'image/png', 'image/webp']
)
ON CONFLICT (id) DO UPDATE SET
  public = EXCLUDED.public,
  file_size_limit = EXCLUDED.file_size_limit,
  allowed_mime_types = EXCLUDED.allowed_mime_types;

-- Anyone can read product images (storefront + admin preview)
DROP POLICY IF EXISTS "product_images_storage_public_read" ON storage.objects;
CREATE POLICY "product_images_storage_public_read"
  ON storage.objects
  FOR SELECT
  USING (bucket_id = 'product-images');

-- Admins may upload, replace, or delete objects in this bucket
DROP POLICY IF EXISTS "product_images_storage_admin_insert" ON storage.objects;
CREATE POLICY "product_images_storage_admin_insert"
  ON storage.objects
  FOR INSERT
  WITH CHECK (
    bucket_id = 'product-images'
    AND EXISTS (
      SELECT 1 FROM public.profiles p
      WHERE p.id = auth.uid() AND p.role = 'admin'
    )
  );

DROP POLICY IF EXISTS "product_images_storage_admin_update" ON storage.objects;
CREATE POLICY "product_images_storage_admin_update"
  ON storage.objects
  FOR UPDATE
  USING (
    bucket_id = 'product-images'
    AND EXISTS (
      SELECT 1 FROM public.profiles p
      WHERE p.id = auth.uid() AND p.role = 'admin'
    )
  );

DROP POLICY IF EXISTS "product_images_storage_admin_delete" ON storage.objects;
CREATE POLICY "product_images_storage_admin_delete"
  ON storage.objects
  FOR DELETE
  USING (
    bucket_id = 'product-images'
    AND EXISTS (
      SELECT 1 FROM public.profiles p
      WHERE p.id = auth.uid() AND p.role = 'admin'
    )
  );
