-- Admin inventory: manual sold-out flag (stock column already exists)

ALTER TABLE public.products
  ADD COLUMN IF NOT EXISTS sold_out BOOLEAN NOT NULL DEFAULT FALSE;

CREATE INDEX IF NOT EXISTS idx_products_sold_out
  ON public.products (sold_out)
  WHERE sold_out = TRUE;
